
@{
    ViewBag.Title = "TOEFL";
}

<!-- Start main-content -->
<section class="page-title" style="background-image: url(../../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">TOEFL</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Courses", "Index", "Training", new { area = "" }, new { @class = "" })</li>
                <li>TOEFL</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!--Start courses Details-->
<section class="course-details">
    <div class="container">
        <div class="row flex-xl-row-reverse">
            <!--Start courses Details Content-->
            <div class="col-xl-8 col-lg-8">
                <div class="courses-details__content">
                    <img src="~/media/images/resource/course-details.jpg" alt="" />
                    <h2 class="mt-4">Course Overview</h2>
                    <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aelltes port lacus quis enim var sed efficitur turpis gilla sed sit amet finibus eros. Lorem Ipsum is simply dummy text of the printing.</p>
                    <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                    <div class="content mt-40">
                        <div class="text">
                            <h3>What You Will Learn?</h3>
                            <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                        <div class="row mt-30">
                            <!-- Features Block Two -->
                            <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <i class="icon flaticon-interview"></i>
                                    <span class="cat">The eget mattis</span>
                                    <h6 class="title"><a href="#">Direct Interviews</a></h6>
                                </div>
                            </div>

                            <!-- Feature Block -->
                            <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="content">
                                        <i class="icon flaticon-low-cost"></i>
                                        <span class="cat">The eget mattis</span>
                                        <h6 class="title"><a href="#">Cost Effective</a></h6>
                                    </div>
                                </div>
                            </div>

                            <!-- Features Block Two -->
                            <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="content">
                                        <i class="icon flaticon-loyalty"></i>
                                        <span class="cat">The eget mattis</span>
                                        <h6 class="title"><a href="#">Trusted Customers</a></h6>
                                    </div>
                                </div>
                            </div>

                            <!-- Feature Block -->
                            <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="content">
                                        <i class="icon flaticon-online-support"></i>
                                        <span class="cat">The eget mattis</span>
                                        <h6 class="title"><a href="#">Support Team</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" mt-25">
                        <h3>Frequently Asked Question</h3>
                        <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <ul class="accordion-box wow fadeInRight">
                            <!--Block-->
                            <li class="accordion block active-block">
                                <div class="acc-btn active">
                                    How to soft launch your business?
                                    <div class="icon fa fa-plus"></div>
                                </div>
                                <div class="acc-content current">
                                    <div class="content">
                                        <div class="text">There are many variations of passages the majority have suffered alteration in some fo injected humour, or randomised words believable.</div>
                                    </div>
                                </div>
                            </li>
                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">
                                    How to turn visitors into contributors
                                    <div class="icon fa fa-plus"></div>
                                </div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">There are many variations of passages the majority have suffered alteration in some fo injected humour, or randomised words believable.</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End courses Details Content-->
            <!--Start courses Details Sidebar-->
            <div class="col-xl-4 col-lg-4">
                <div class="course-sidebar">
                    <ul class="course-details-info">
                        <li class="course-details-info-link">
                            <span class="course-details-info-icon"><i class="far fa-clock"></i></span>
                            Durations: <span>10 hours</span>
                        </li>
                        <li class="course-details-info-link">
                            <span class="course-details-info-icon"><i class="far fa-folder-open"></i></span>
                            Lectures: <span>15</span>
                        </li>
                        <li class="course-details-info-link">
                            <span class="course-details-info-icon"><i class="far fa-user-circle"></i></span>
                            Students: <span>Max 50</span>
                        </li>
                        <li class="course-details-info-link">
                            <span class="course-details-info-icon"><i class="far fa-flag"></i></span>
                            Skill Level: <span>Advanced</span>
                        </li>
                        <li class="course-details-info-link">
                            <span class="course-details-info-icon"><i class="far fa-bell"></i></span>
                            Language: <span>English</span>
                        </li>
                    </ul>

                    <div class="course-details-price">
                        <p class="course-details-price-text">Course price</p>
                        <p class="course-details-price-amount">$18.00</p>
                        <a href="page-course.html" class="theme-btn btn-style-one course-details-price-btn"><span class="btn-title">Buy This Course</span></a>
                    </div>

                    <div class="latest-course mb-30">
                        <h4 class="latest-course-title mb-30">New Courses</h4>
                        <div class="latest-course-item">
                            <div class="latest-course-img">
                                <img src="~/media/images/resource/gallery-1.jpg" alt="">
                            </div>
                            <div class="latest-course-content">
                                <a class="latest-course-author" href="#">by <span>Advanced</span></a>
                                <h5><a href="page-course-details.html">TOEFL Coaching</a></h5>
                                <div class="latest-course-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span>4.8</span>
                                </div>
                            </div>
                        </div>
                        <div class="latest-course-item">
                            <div class="latest-course-img">
                                <img src="~/media/images/resource/gallery-2.jpg" alt="">
                            </div>
                            <div class="latest-course-content">
                                <a class="latest-course-author" href="#">by <span>Advanced</span></a>
                                <h5><a href="page-course-details.html">Citizenship Test</a></h5>
                                <div class="latest-course-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span>5.0</span>
                                </div>
                            </div>
                        </div>
                        <div class="latest-course-item">
                            <div class="latest-course-img">
                                <img src="~/media/images/resource/gallery-3.jpg" alt="">
                            </div>
                            <div class="latest-course-content">
                                <a class="latest-course-author" href="#">by <span>Advanced</span></a>
                                <h5><a href="page-course-details.html">PTE Coaching</a></h5>
                                <div class="latest-course-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span>4.9</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--End courses Details Sidebar-->
        </div>
    </div>
</section>
<!--End courses Details-->
