
@{
    ViewBag.Title = "StudentVisa";
}
<!-- Start main-content -->
<section class="page-title" style="background-image: url(../../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Visa Details</h1>
            <ul class="page-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!--Start Services Details-->
<section class="services-details">
    <div class="container">
        <div class="row">
            <!--Start Services Details Sidebar-->
            <div class="col-xl-4 col-lg-4">
                <div class="service-sidebar">
                    <!--Start Services Details Sidebar Single-->
                    <div class="sidebar-widget service-sidebar-single">
                        <div class="service-sidebar wow fadeInUp"
                             data-wow-delay="0.1s" data-wow-duration="1200m">
                            <div class="service-list">
                                <ul>
                                    <li><a href="page-service-details.html" class="current"><i class="fas fa-angle-right"></i><span>Student Visa</span></a></li>
                                    <li><a href="page-service-details.html"><i class="fas fa-angle-right"></i><span>Family Visa</span></a></li>
                                    <li><a href="page-service-details.html"><i class="fas fa-angle-right"></i><span>Tourist Visa</span></a></li>
                                    <li><a href="page-service-details.html"><i class="fas fa-angle-right"></i><span>Business Visa</span></a></li>
                                    <li><a href="page-service-details.html"><i class="fas fa-angle-right"></i><span>Worker Visa</span></a></li>
                                    <li><a href="page-service-details.html"><i class="fas fa-angle-right"></i><span>Diplomatic Visa</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--End Services Details Sidebar Single-->
                    <div class="sidebar-widget banner-widget">


                        <div class="widget-content" style="background-image: url(../../media/images/resource/contact.jpg);">
                            <div class="shape" style="background-image: url(../../media/images/resource/overlay-shape.png);"></div>
                            <div class="content-box">
                                <div class="icon-box">
                                    <i class="lnr lnr-icon-pie-chart"></i>
                                </div>
                                <h3>Be healthy & eat only fresh</h3>
                                <a href="page-contact.html" class="theme-btn btn-style-one light"><span class="btn-title"> Contact us</span></a>
                            </div>
                        </div>
                    </div>

                    <!--Start Services Details Sidebar Single-->
                    <div class="sidebar-widget service-sidebar-single mt-5">
                        <div class="service-sidebar-single-btn wow fadeInUp"
                             data-wow-delay="0.5s" data-wow-duration="1200m">
                            <a href="#" class="theme-btn btn-style-one d-grid"><span class="btn-title"><span class="fas fa-file-pdf"></span> download pdf file</span></a>
                        </div>
                    </div>
                    <!--End Services Details Sidebar Single-->
                </div>
            </div>
            <!--End Services Details Sidebar-->
            <!--Start Services Details Content-->
            <div class="col-xl-8 col-lg-8">
                <div class="services-details__content">
                    <img src="~/media/images/resource/service-details.jpg" alt="" />
                    <h2 class="mt-4">Visa Overview</h2>
                    <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aelltes port lacus quis enim var sed efficitur turpis gilla sed sit amet finibus eros. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the ndustry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                    <div class="content mt-40">
                        <div class="text">
                            <h3>Visa Center</h3>
                            <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                        <div class="feature-list">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Entering & Leaving From Country</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Country Citizenship</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Settling In Country</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Quick & Easy Process</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Documents & Payments</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Receive Your Visa</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" mt-25">
                        <h3>Frequently Asked Question</h3>
                        <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <ul class="accordion-box wow fadeInRight">
                            <!--Block-->
                            <li class="accordion block active-block">
                                <div class="acc-btn active">
                                    How to soft launch your business?
                                    <div class="icon fa fa-plus"></div>
                                </div>
                                <div class="acc-content current">
                                    <div class="content">
                                        <div class="text">There are many variations of passages the majority have suffered alteration in some fo injected humour, or randomised words believable.</div>
                                    </div>
                                </div>
                            </li>
                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">
                                    Is my technology allowed on tech?
                                    <div class="icon fa fa-plus"></div>
                                </div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">There are many variations of passages the majority have suffered alteration in some fo injected humour, or randomised words believable.</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Services Details Content-->
        </div>
    </div>
</section>
<!--End Services Details-->
