
@{
    ViewBag.Title = "AdmissionGuidance";
}


<section class="page-title" style="background-image: url(../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Admission Guidance</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Services", "Index", "Services", new { area = "" }, new { @class = "" })</li>
                <li>Admission Guidance</li>
            </ul>
        </div>
    </div>
</section>


<!--Start Services Details-->
<section class="services-details">
    <div class="container">
        <div class="row">

            <!--Start Services Details Content-->
            <div class="col-xl-12 col-lg-12">
                <div class="services-details__content">
                    <img src="~/media/images/resource/uni & course.png" alt="" />
                    <h4>Special attention to your Application</h4>
                    <p>We give special attention to your application, highlighting the areas essential for a well-presented, error free application. We assist with <b>References</b> and the 'all-important' <b>Statement of Purpose</b> .</p>

                    <p>We assess your English and the Universities admission committees many a times consider our recommendations. "XPOZER" follows up with the chosen Universities and ensures Positive and Quick Response including for the UCAS process. We have exhaustive information prospectus, brochures, CD's &amp; application forms, etc.</p>

                    <p>We assist in filling of application forms, guidance in preparation of Recommendation Letters, <b>Statement of Purpose</b>. Along with the application, we also send our recommendation letter to the University highlighting the strengths of the student and why he/she should be admitted. The admission tutor considers this letter in their decision making. We keep a proper follow up with the Universities/Colleges ensuring you a quick response.</p>
                </div>
            </div>
            <!--End Services Details Content-->
        </div>
    </div>
</section>
<!--End Services Details-->
