
@{
    ViewBag.Title = "CareerCounseling";
}


<section class="page-title" style="background-image: url(../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Carrer Counselling</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Services", "Index", "Services", new { area = "" }, new { @class = "" })</li>
                <li>Carrer Counselling</li>
            </ul>
        </div>
    </div>
</section>

<!--Start Services Details-->
<section class="services-details">
    <div class="container">
        <div class="row">
          
            <!--Start Services Details Content-->
            <div class="col-xl-12 col-lg-12">
                <div class="services-details__content">
                    <img src="~/media/images/resource/uni & course.png" alt="" />
                    <h2 class="mt-4">Carrer Counselling</h2>
                    <p>Here comes the decision making moment. After the course of tests and profiling. A professional career counselor can make help you develop a career plan post interpreting the test results and detailed discussion. Career experts comprehend the results of the aptitude tests and relate it with requirement of various professions to culminate to most cogent career options for you. The counselor explains you the options and then you can ascertain as per your preferences, current scope and financial status.</p>
                    <p>We offer benign counseling and guidance to students, free of cost. This counseling is open to all and not restricted to those who seek admission through us. We listen intently to students' requirements and recommend universities to suit specific needs. We come up with alternatives but leave the discretion to the students after giving them a clear picture. In students' own version, the counseling we offer here at Flamingo Abroad Consultancy not only dispels all myth but also ushers in a wealth of critical information vital to making the right decision. It is really heartening to hear our counseling being described as a "Treasure for the taking. We can assist the students by counseling them keeping in view their ambition, academic &amp; work/financial background. We also organize seminars in different institutions, universities, colleges for students awareness.</p>
                    <p>Flamingo Abroad Consultancy has a trained staff, which provides help to identify the professional goals, enabling the student to take a wiser academic decision, and gives Personal Guidance to help choose courses that perfectly fit your Career or Personal Goals.</p>
                    <p>We also host direct interviews from university representatives &amp; give comprehensive &amp; unbiased information on various study options. Over 90% of our students are references from our previous students.
                </div>
            </div>
            <!--End Services Details Content-->
        </div>
    </div>
</section>
<!--End Services Details-->
