<!-- About Section -->
<section class="about-section">
    <div class="auto-container">
        <div class="row">
            <div class="content-column col-xl-6 col-lg-6 col-md-12 col-sm-12 wow fadeInRight" data-wow-delay="600ms">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="sub-title">about the company</span>
                        <h2>Providing the best abroad visa <span class="color3">services</span></h2>
                        <h4>We Provide Best Visa & Coaching Services.</h4>
                        @if (ViewBag.CurrentPage == "about")
                        {
                            <div class="text">
                                Launched in the year 2023, Flamingo Abroad Consultancy is committed to deliver excellence in quality education and training placement to students in Rohtak. It is a full spectrum overseas admissions/education consultancy firm determined to overhaul the orthodox approach to international education.
                            </div>
                            <div class="text">
                                It is structured to be the perfect stepping stone for a student from local to the global atmosphere and provides every assistance required to make the overall transition smooth, seamless and effortless. With quality credentials and our trustworthy services, we guide students to reach the best possible academic heights based on their academics. Our expertise and massive experience enables us to work upon the profile of a specific student to identify the most suitable program and desired institution for them.
                            </div>
                        }
                        else if (ViewBag.CurrentPage == "home")
                        {
                            <div class="text">
                                Launched in the year 2023, Flamingo Abroad Consultancy is committed to deliver excellence in quality education and training placement to students in Rohtak. It is a full spectrum overseas admissions/education consultancy firm....
                            </div>
                        }

                    </div>

                    <div class="row">
                        <div class="about-block col-lg-6 col-md-6">
                            <div class="inner">
                                <i class="icon flaticon-passport-16"></i>
                                <h6 class="title">Best Abroad<br> Services</h6>
                            </div>
                        </div>

                        <div class="text-block col-lg-6 col-md-6">
                            <div class="inner">
                                <div class="text">We are the stepping-stones to their future and we admire the fact that our success is directly proportionate to the success of our students.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="row">
                        <div class="column col-lg-6 col-md-6">
                            <div class="image-box">
                                <figure class="map"><img src="media/images/icons/map.png" alt=""></figure>
                                <figure class="image-1 overlay-anim wow fadeInUp"><img src="media/images/resource/about-1.jpg" alt=""></figure>
                                <figure class="image-2 overlay-anim wow fadeInRight"><img src="media/images/resource/about-2.jpg" alt=""></figure>
                            </div>
                        </div>
                        <div class="column col-lg-6 col-md-6">
                            <div class="image-box">
                                <figure class="image-3 overlay-anim wow fadeInLeft"><img src="media/images/resource/about-3.jpg" alt=""></figure>
                                <div class="experience bounce-y">
                                    <div class="inner">
                                        <i class="icon flaticon-loyalty"></i>
                                        <div class="text"><strong>60</strong> Satisfied Clients</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Emd About Section -->