<!-- Testimonial Section -->
<section class="testimonial-section pull-down">
    <div class="bg-image" style="background-image: url(./~/media/images/background/1.jpg)"></div>
    <div class="anim-icons">
        <span class="icon icon-wide-map"></span>
    </div>
    <div class="auto-container">
        <div class="sec-title text-center light">
            <span class="sub-title">our testimonials</span>
            <h2>What they’re talking about<br>the <span class="color3">consultancy</span></h2>
        </div>

        <div class="carousel-outer">
            <div class="testimonial-carousel owl-carousel owl-theme">
                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content-box">
                            <span class="icon fa fa-quote-left"></span>
                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                            <div class="text">I was very impresed by the remons service lorem ipsum is simply free text used by copy typing refreshing. Neque porro est qui dolorem ipsum quia.</div>
                        </div>
                        <div class="info-box">
                            <figure class="thumb"><img src="~/media/images/resource/testi-thumb-1.jpg" alt=""></figure>
                            <h6 class="name">Jessica Brown</h6>
                            <span class="designation">Customer</span>
                        </div>
                    </div>
                </div>

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content-box">
                            <span class="icon fa fa-quote-left"></span>
                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                            <div class="text">I was very impresed by the remons service lorem ipsum is simply free text used by copy typing refreshing. Neque porro est qui dolorem ipsum quia.</div>
                        </div>
                        <div class="info-box">
                            <figure class="thumb"><img src="~/media/images/resource/testi-thumb-2.jpg" alt=""></figure>
                            <h6 class="name">Kevin Martin</h6>
                            <span class="designation">Customer</span>
                        </div>
                    </div>
                </div>

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content-box">
                            <span class="icon fa fa-quote-left"></span>
                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                            <div class="text">I was very impresed by the remons service lorem ipsum is simply free text used by copy typing refreshing. Neque porro est qui dolorem ipsum quia.</div>
                        </div>
                        <div class="info-box">
                            <figure class="thumb"><img src="~/media/images/resource/testi-thumb-3.jpg" alt=""></figure>
                            <h6 class="name">Sarah Albert</h6>
                            <span class="designation">Customer</span>
                        </div>
                    </div>
                </div>

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content-box">
                            <span class="icon fa fa-quote-left"></span>
                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                            <div class="text">I was very impresed by the remons service lorem ipsum is simply free text used by copy typing refreshing. Neque porro est qui dolorem ipsum quia.</div>
                        </div>
                        <div class="info-box">
                            <figure class="thumb"><img src="~/media/images/resource/testi-thumb-1.jpg" alt=""></figure>
                            <h6 class="name">Jessica Brown</h6>
                            <span class="designation">Customer</span>
                        </div>
                    </div>
                </div>

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content-box">
                            <span class="icon fa fa-quote-left"></span>
                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                            <div class="text">I was very impresed by the remons service lorem ipsum is simply free text used by copy typing refreshing. Neque porro est qui dolorem ipsum quia.</div>
                        </div>
                        <div class="info-box">
                            <figure class="thumb"><img src="~/media/images/resource/testi-thumb-2.jpg" alt=""></figure>
                            <h6 class="name">Kevin Martin</h6>
                            <span class="designation">Customer</span>
                        </div>
                    </div>
                </div>

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content-box">
                            <span class="icon fa fa-quote-left"></span>
                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                            <div class="text">I was very impresed by the remons service lorem ipsum is simply free text used by copy typing refreshing. Neque porro est qui dolorem ipsum quia.</div>
                        </div>
                        <div class="info-box">
                            <figure class="thumb"><img src="~/media/images/resource/testi-thumb-3.jpg" alt=""></figure>
                            <h6 class="name">Sarah Albert</h6>
                            <span class="designation">Customer</span>
                        </div>
                    </div>
                </div>

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content-box">
                            <span class="icon fa fa-quote-left"></span>
                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                            <div class="text">I was very impresed by the remons service lorem ipsum is simply free text used by copy typing refreshing. Neque porro est qui dolorem ipsum quia.</div>
                        </div>
                        <div class="info-box">
                            <figure class="thumb"><img src="~/media/images/resource/testi-thumb-1.jpg" alt=""></figure>
                            <h6 class="name">Jessica Brown</h6>
                            <span class="designation">Customer</span>
                        </div>
                    </div>
                </div>

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content-box">
                            <span class="icon fa fa-quote-left"></span>
                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                            <div class="text">I was very impresed by the remons service lorem ipsum is simply free text used by copy typing refreshing. Neque porro est qui dolorem ipsum quia.</div>
                        </div>
                        <div class="info-box">
                            <figure class="thumb"><img src="~/media/images/resource/testi-thumb-2.jpg" alt=""></figure>
                            <h6 class="name">Kevin Martin</h6>
                            <span class="designation">Customer</span>
                        </div>
                    </div>
                </div>

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content-box">
                            <span class="icon fa fa-quote-left"></span>
                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                            <div class="text">I was very impresed by the remons service lorem ipsum is simply free text used by copy typing refreshing. Neque porro est qui dolorem ipsum quia.</div>
                        </div>
                        <div class="info-box">
                            <figure class="thumb"><img src="~/media/images/resource/testi-thumb-3.jpg" alt=""></figure>
                            <h6 class="name">Sarah Albert</h6>
                            <span class="designation">Customer</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- End Testimonial Section -->