	<!-- Why Choose US -->
<section class="why-choose-us pt-0">
    <div class="bg bg-pattern-1"></div>

    <div class="auto-container">
        <div class="sec-title text-center">
            <span class="sub-title">countries you can visit</span>
            <h2>Few reasons to choose <br>our visa <span class="color3">company</span></h2>
        </div>

        <div class="row">
            <!-- Features Block -->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <i class="icon flaticon-interview"></i>
                    <span class="cat">The Eget Mattis</span>
                    <h6 class="title"><a href="page-about.html">Time<br> Saving</a></h6>
                </div>
            </div>

            <!-- Features Block -->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
                <div class="inner-box">
                    <div class="content">
                        <i class="icon flaticon-low-cost"></i>
                        <span class="cat">The Eget Mattis</span>
                        <h6 class="title"><a href="page-about.html">Cost Effective</a></h6>
                    </div>
                </div>
            </div>

            <!-- Features Block -->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
                <div class="inner-box">
                    <div class="content">
                        <i class="icon flaticon-loyalty"></i>
                        <span class="cat">The Eget Mattis</span>
                        <h6 class="title"><a href="page-about.html">Trusted Customers</a></h6>
                    </div>
                </div>
            </div>

            <!-- Features Block -->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
                <div class="inner-box">
                    <div class="content">
                        <i class="icon flaticon-online-support"></i>
                        <span class="cat">The Eget Mattis</span>
                        <h6 class="title"><a href="page-about.html">Support Team</a></h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-text">Top rated by customers & immigration firms with 100% success rate. <a href="@Url.Action("Index", "Testimonial", new { area = "" })" class="theme-btn btn-style-two">Discover More</a></div>
    </div>
</section>
<!--Emd Why Choose US -->
