
@{
    ViewBag.Title = "Index";
}

<!-- Start main-content -->
<section class="page-title" style="background-image: url(../../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Courses</h1>
            <ul class="page-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li>Courses</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!-- Courses Section -->
<section class="bg-silver-light">
    <div class="container pb-100">
        <div class="row">
            <!-- Course Block-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- Training Block Three-->
                <div class="training-block mb-4">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/media/images/resource/training-1.jpg" alt=""></figure>
                            <div class="overlay"><a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a></div>
                        </div>
                        <div class="lower-content">
                            <a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a>
                            <h5 class="title"><a href="page-course-details.html">Citizenship Test</a></h5>
                            <div class="text">There are many variations of passages of available, but the majority have suffered freedom alteration.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Course Block-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- Training Block -->
                <div class="training-block mb-4">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/media/images/resource/training-2.jpg" alt=""></figure>
                            <div class="overlay"><a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a></div>
                        </div>
                        <div class="lower-content">
                            <a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a>
                            <h5 class="title"><a href="page-course-details.html">Take IELTS</a></h5>
                            <div class="text">There are many variations of passages of available, but the majority have suffered freedom alteration.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Course Block-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- Training Block -->
                <div class="training-block mb-4">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/media/images/resource/training-3.jpg" alt=""></figure>
                            <div class="overlay"><a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a></div>
                        </div>
                        <div class="lower-content">
                            <a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a>
                            <h5 class="title"><a href="page-course-details.html">PTE Coaching</a></h5>
                            <div class="text">There are many variations of passages of available, but the majority have suffered freedom alteration.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Course Block-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- Training Block -->
                <div class="training-block mb-4">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/media/images/resource/training-2.jpg" alt=""></figure>
                            <div class="overlay"><a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a></div>
                        </div>
                        <div class="lower-content">
                            <a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a>
                            <h5 class="title"><a href="page-course-details.html">Take IELTS</a></h5>
                            <div class="text">There are many variations of passages of available, but the majority have suffered freedom alteration.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Course Block-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- Training Block -->
                <div class="training-block mb-4">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/media/images/resource/training-3.jpg" alt=""></figure>
                            <div class="overlay"><a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a></div>
                        </div>
                        <div class="lower-content">
                            <a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a>
                            <h5 class="title"><a href="page-course-details.html">PTE Coaching</a></h5>
                            <div class="text">There are many variations of passages of available, but the majority have suffered freedom alteration.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Course Block-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- Training Block Three-->
                <div class="training-block mb-4">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/media/images/resource/training-1.jpg" alt=""></figure>
                            <div class="overlay"><a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a></div>
                        </div>
                        <div class="lower-content">
                            <a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a>
                            <h5 class="title"><a href="page-course-details.html">Citizenship Test</a></h5>
                            <div class="text">There are many variations of passages of available, but the majority have suffered freedom alteration.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Courses Section-->
