
@{
    ViewBag.Title = "Index";
}


<!-- Start main-content -->
<section class="page-title" style="background-image: url(../../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Testimonial</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("About", "Index", "About", new { area = "" }, new { @class = "" })</li>
                <li>Testimonial</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!-- Testimonial Section -->
<section class="bg-silver-light">
    <div class="container pb-90">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- Testimonial Block -->
                <div class="testimonial-block mb-md-30">
                    <div class="inner-box">
                        <div class="content-box">
                            <span class="icon fa fa-quote-left"></span>
                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                            <div class="text">I was very impresed by the remons service lorem ipsum is simply free text used by copy typing refreshing. Neque porro est qui dolorem ipsum quia.</div>
                        </div>
                        <div class="info-box">
                            <figure class="thumb"><img src="~/Media/images/resource/testi-thumb-1.jpg" alt=""></figure>
                            <h6 class="name text-black">Jessica Brown</h6>
                            <span class="designation">Customer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- Testimonial Block -->
                <div class="testimonial-block mb-md-30">
                    <div class="inner-box">
                        <div class="content-box">
                            <span class="icon fa fa-quote-left"></span>
                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                            <div class="text">I was very impresed by the remons service lorem ipsum is simply free text used by copy typing refreshing. Neque porro est qui dolorem ipsum quia.</div>
                        </div>
                        <div class="info-box">
                            <figure class="thumb"><img src="~/Media/images/resource/testi-thumb-3.jpg" alt=""></figure>
                            <h6 class="name text-black">Sarah Albert</h6>
                            <span class="designation">Customer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content-box">
                            <span class="icon fa fa-quote-left"></span>
                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                            <div class="text">I was very impresed by the remons service lorem ipsum is simply free text used by copy typing refreshing. Neque porro est qui dolorem ipsum quia.</div>
                        </div>
                        <div class="info-box">
                            <figure class="thumb"><img src="~/Media/images/resource/testi-thumb-2.jpg" alt=""></figure>
                            <h6 class="name text-black">Kevin Martin</h6>
                            <span class="designation">Customer</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Testimonial Section -->


