
@{
    ViewBag.Title = "Australia";
}

<!-- Start main-content -->
<section class="page-title" style="background-image: url(../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Australia</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Country", "Index", "Country", new { area = "" }, new { @class = "" })</li>
                <li>Australia</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!--Countries Details Start-->
<section class="country-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="country-details__img"> <img src="~/Media/images/countries/Australia.jpg" alt=""> </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="country-content">
                    <h3>Australia</h3>
                    <p>Australia, officially the Commonwealth of Australia, is a sovereign country comprising the mainland of the Australian continent, the island of Tasmania, and numerous smaller islands. Australia is the largest country by area in Oceania and the world's sixth-largest country. Australia is the oldest, flattest, and driest inhabited continent, with the least fertile soils. It is a mega diverse country, and its size gives it a wide variety of landscapes and climates, with deserts in the Centre, tropical rainforests in the north-east, tropical savannas in the north, and mountain ranges in the south-east.</p>
                    <ul class="country-details-list">
                        <li>
                            <span>Country</span>
                            <span>Australia</span>
                        </li>
                        <li>
                            <span>Official Language</span>
                            <span>English</span>
                        </li>
                        <li>
                            <span>Capital</span>
                            <span>Canberra</span>
                        </li>
                        <li>
                            <span>Area (km2)</span>
                            <span>7,692,024 km2</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4 col-md-12">
                <div class="country-university__list">
                    <h3>Melbourne</h3>
                    <ul class="list-unstyled">
                        <li><p><span class="fa fa-arrow-right"></span>University of Melbourne</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>MONASH University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>RMIT University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Victoria University</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="country-university__list">
                    <h3>Perth</h3>
                    <ul>
                        <li><p><span class="fa fa-arrow-right"></span>Curtin University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of Western Australia</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Edith Cowan University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Murdoch University</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="country-university__list">
                    <h3>Sydney</h3>
                    <ul>
                        <li><p><span class="fa fa-arrow-right"></span>University of sydney</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of Technology sydney</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of New South Wales</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Western Sydney University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>La Trobe University</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Countries Details End-->
@Html.Partial("_countriesPartial", new ViewDataDictionary(this.ViewData) { { "currentPage", "courntry" } })