
@{
    ViewBag.Title = "Canada";
}

<!-- Start main-content -->
<section class="page-title" style="background-image: url(../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Canada</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Country", "Index", "Country", new { area = "" }, new { @class = "" })</li>
                <li>Canada</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!--Countries Details Start-->
<section class="country-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="country-details__img"> <img src="~/media/images/resource/country-details.jpg" alt=""> </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="country-content">
                    <h3>Canada</h3>
                    <p>Canada is a country in North America. Its ten provinces and three territories extend from the Atlantic Ocean to the Pacific Ocean and northward into the Arctic Ocean, making it the world's second-largest country by total area, with the world's longest coastline. Its border with the United States is the world's longest international land border. The country is characterized by a wide range of both meteorological and geological regions. It is sparsely inhabited, with the vast majority residing south of the 55th parallel in urban areas. Canada's capital is Ottawa and its three largest metropolitan areas are Toronto, Montreal, and Vancouver.</p>
                    <ul class="country-details-list">
                        <li>
                            <span>Country</span>
                            <span>Canada</span>
                        </li>
                        <li>
                            <span>Official Language</span>
                            <span>English</span>
                        </li>
                        <li>
                            <span>Capital</span>
                            <span>Ottawa</span>
                        </li>
                        <li>
                            <span>Area (km2)</span>
                            <span>9.985 million km²</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4 col-md-12">
                <div class="country-university__list">
                    <h3>Toronto</h3>
                    <ul class="list-unstyled">
                        <li><p><span class="fa fa-arrow-right"></span> University of Toronto</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>York University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Ryerson University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Trent University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Humber College</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="country-university__list">
                    <h3>Ontario</h3>
                    <ul>
                        <li><p><span class="fa fa-arrow-right"></span>University of Waterloo</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Western University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>MC Masters University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Queen's University</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="country-university__list">
                    <h3>Vancouver</h3>
                    <ul>
                        <li><p><span class="fa fa-arrow-right"></span>University of British Columbia</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Siman University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Capilano University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University Canada</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Countries Details End-->
@Html.Partial("_countriesPartial", new ViewDataDictionary(this.ViewData) { { "currentPage", "courntry" } })