
@{
    ViewBag.Title = "Georgia";
}

<!-- Start main-content -->
<section class="page-title" style="background-image: url(../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Georgia</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Country", "Index", "Country", new { area = "" }, new { @class = "" })</li>
                <li>Georgia</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!--Countries Details Start-->
<section class="country-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="country-details__img"> <img src="~/Media/images/countries/Georgia.jpg" alt=""> </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="country-content">
                    <h3>Georgia</h3>
                    <p>Georgia, a country at the intersection of Europe and Asia, is a former Soviet republic that’s home to Caucasus Mountain villages and Black Sea beaches. It’s famous for Vardzia, a sprawling cave monastery dating to the 12th century, and the ancient wine-growing region Kakheti. The capital, Tbilisi, is known for the diverse architecture and mazelike, cobblestone streets of its old town.</p>
                    <ul class="country-details-list">
                        <li>
                            <span>Country</span>
                            <span>Georgia</span>
                        </li>
                        <li>
                            <span>Official Language</span>
                            <span>Georgian</span>
                        </li>
                        <li>
                            <span>Capital</span>
                            <span>Tbilisi</span>
                        </li>
                        <li>
                            <span>Area (km2)</span>
                            <span>69,700 km2</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-12 col-md-12">
                <div class="country-university__list">
                    <h3>Georgia</h3>
                    <ul class="list-unstyled">
                        <li><p><span class="fa fa-arrow-right"></span>University of Georgia</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Georgia State University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Georgia Institute of Technology</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Emory University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Kennesaw State University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Mercer University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Spelman University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Thomas University</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Countries Details End-->
@Html.Partial("_countriesPartial", new ViewDataDictionary(this.ViewData) { { "currentPage", "courntry" } })
