
@{
    ViewBag.Title = "Germany";
}

<!-- Start main-content -->
<section class="page-title" style="background-image: url(../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Germany</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Country", "Index", "Country", new { area = "" }, new { @class = "" })</li>
                <li>Germany</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!--Countries Details Start-->
<section class="country-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="country-details__img"> <img src="~/media/images/resource/country-details.jpg" alt=""> </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="country-content">
                    <h3>Germany</h3>
                    <p>Germany, officially the Federal Republic of Germany, is a country in Central Europe. It is the second-most populous country in Europe after Russia, and the most populous member state of the European Union. Germany is situated between the Baltic and North seas to the north, and the Alps to the south. Its 16 constituent states are bordered by Denmark to the north, Poland and the Czech Republic to the east, Austria and Switzerland to the south, and France, Luxembourg, Belgium, and the Netherlands to the west. The nation's capital and most populous city is Berlin and its main financial centre is Frankfurt; the largest urban area is the Ruhr</p>
                    <ul class="country-details-list">
                        <li>
                            <span>Country</span>
                            <span>Germany</span>
                        </li>
                        <li>
                            <span>Official Language</span>
                            <span>German</span>
                        </li>
                        <li>
                            <span>capital</span>
                            <span>Berlin</span>
                        </li>
                        <li>
                            <span>Area (km2)</span>
                            <span>357,592 km2</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-4 col-md-12">
                    <div class="country-university__list">
                        <h3>Berline</h3>
                        <ul class="list-unstyled">
                            <li><p><span class="fa fa-arrow-right"></span>Humboldt University of Berlin</p></li>
                            <li><p><span class="fa fa-arrow-right"></span>Technical university of Berlin</p></li>
                            <li><p><span class="fa fa-arrow-right"></span>Free university of Berlin</p></li>   
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="country-university__list">
                        <h3>Munich</h3>
                        <ul>
                            <li><p><span class="fa fa-arrow-right"></span>Ludwig Maximilian University of Munich. </p></li>
                            <li><p><span class="fa fa-arrow-right"></span>Technical University of Munich.</p></li>
                            <li><p><span class="fa fa-arrow-right"></span>Munich universities of applied science.  </p></li>
                            <li><p><span class="fa fa-arrow-right"></span>Catholic University of Applied Science</p></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="country-university__list">
                        <h3>Frankfurt</h3>
                        <ul>
                            <li><p><span class="fa fa-arrow-right"></span>Frankfurt University of Applied science.</p></li>
                            <li><p><span class="fa fa-arrow-right"></span>Goethe University of Frankfurt am main</p></li>
                            <li><p><span class="fa fa-arrow-right"></span>Frankfurt University of music and art.</p></li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Countries Details End-->
@Html.Partial("_countriesPartial", new ViewDataDictionary(this.ViewData) { { "currentPage", "courntry" } })>

