
@{
    ViewBag.Title = "Kazakhstan";
}

<!-- Start main-content -->
<section class="page-title" style="background-image: url(../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Kazakhstan</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Country", "Index", "Country", new { area = "" }, new { @class = "" })</li>
                <li>Kazakhstan</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!--Countries Details Start-->
<section class="country-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="country-details__img"> <img src="~/media/images/resource/country-details.jpg" alt=""> </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="country-content">
                    <h3>Kazakhstan</h3>
                    <p>Kazakhstan,officially the Republic of Kazakhstan, is a transcontinental landlocked country located mainly in Central Asia and partly in Eastern Europe. It borders Russia to the north and west, China to the east, Kyrgyzstan to the southeast, Uzbekistan to the south, and Turkmenistan to the southwest, with a coastline along the Caspian Sea. Its capital is Astana, known as Nur-Sultan from 2019 to 2022. Almaty, Kazakhstan's largest city, was the country's capital until 1997. Kazakhstan is the world's ninth-largest country by land area and the world's largest landlocked country. It has a population of 19 million people and one of the lowest population densities in the world, at fewer than 6 people per square kilometer (15 people per square mile). Ethnic Kazakhs constitute a majority of the population, while ethnic Russians form a significant minority. Officially secular, Kazakhstan is a Muslim-majority country, although ethnic Russians in the country form a sizable Christian community.</p>
                    <ul class="country-details-list">
                        <li>
                            <span>Country</span>
                            <span>Kazakhstan</span>
                        </li>
                        <li>
                            <span>Official Language</span>
                            <span>Kazakh & Russian</span>
                        </li>
                        <li>
                            <span>Capital</span>
                            <span>Astana</span>
                        </li>
                        <li>
                            <span>Area (km2)</span>
                            <span>2,724,900 km2</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-12 col-md-12">
                <div class="country-university__list">
                    <h3>Switzerland</h3>
                    <ul class="list-unstyled">
                        <li><p><span class="fa fa-arrow-right"></span>All Farabi kazakh National Kazakhstan, Almaty</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Kazakh National Medical KAZAKHSTAN</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Astana Medical University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Semey medical University
                            </p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Nazarbayev University- Nusultan</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>L.N Gumilyov Eurasian National University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Kokshetau State University</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Countries Details End-->
@Html.Partial("_countriesPartial", new ViewDataDictionary(this.ViewData) { { "currentPage", "courntry" } })