
@{
    ViewBag.Title = "NewZealand";
}

<!-- Start main-content -->
<section class="page-title" style="background-image: url(../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">New Zealand</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Country", "Index", "Country", new { area = "" }, new { @class = "" })</li>
                <li>NewZealand</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!--Countries Details Start-->
<section class="country-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="country-details__img"> <img src="~/Media/images/countries/NewZealand.jpg" alt=""> </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="country-content">
                    <h3>NewZealand</h3>
                    <p>New Zealand is an island country in the southwestern Pacific Ocean. It consists of two main landmasses—the North Island and the South Island and over 700 smaller islands. It is the sixth-largest island country by area, covering 268,021 square kilometers (103,500 sq mi). New Zealand is about 2,000 kilometers (1,200 mi) east of Australia across the Tasman Sea and 1,000 kilometers (600 mi) south of the islands of New Caledonia, Fiji, and Tonga. The country's varied topography and sharp mountain peaks, including the Southern Alps, owe much to tectonic uplift and volcanic eruptions. New Zealand's capital city is Wellington, and its most populous city is Auckland.</p>
                    <ul class="country-details-list">
                        <li>
                            <span>Country</span>
                            <span>NewZealand</span>
                        </li>
                        <li>
                            <span>Official Language</span>
                            <span>English</span>
                        </li>
                        <li>
                            <span>Capital</span>
                            <span>Willington</span>
                        </li>
                        <li>
                            <span>Area (km2)</span>
                            <span>268,021 km2</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-12 col-md-12">
                <div class="country-university__list">
                    <h3>Georgia</h3>
                    <ul class="list-unstyled">
                        <li><p><span class="fa fa-arrow-right"></span>University of Auckland</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of Otago</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of Canterbury</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Massey University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of Waikato</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Lincoln University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Victoria University of Wellington</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Eastern Institute of Technology</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Countries Details End-->
@Html.Partial("_countriesPartial", new ViewDataDictionary(this.ViewData) { { "currentPage", "courntry" } })
