
@{
    ViewBag.Title = "Singapore";
}

<!-- Start main-content -->
<section class="page-title" style="background-image: url(../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Singapore</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Country", "Index", "Country", new { area = "" }, new { @class = "" })</li>
                <li>Singapore</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!--Countries Details Start-->
<section class="country-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="country-details__img"> <img src="~/media/images/resource/country-details.jpg" alt=""> </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="country-content">
                    <h3>Singapore</h3>
                    <p>Singapore, officially the Republic of Singapore, is an island country and city-state in maritime Southeast Asia. It is located about one degree of latitude (137 kilometers or 85 miles) north of the equator, off the southern tip of the Malay Peninsula, bordering the Strait of Malacca to the west, the Singapore Strait to the south, the South China Sea to the east, and the Straits of Johor to the north. The country's territory is composed of one main island, 63 satellite islands and islets, and one outlying islet; the combined area of these has increased by 25% since the country's independence as a result of extensive land reclamation projects.</p>
                    <ul class="country-details-list">
                        <li>
                            <span>Country</span>
                            <span>Singapore</span>
                        </li>
                        <li>
                            <span>Official Language</span>
                            <span>English, Malay, Tamil</span>
                        </li>
                        <li>
                            <span>Capital</span>
                            <span>Singapore</span>
                        </li>
                        <li>
                            <span>Area (km2)</span>
                            <span>8734.3 km2</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-12 col-md-12">
                <div class="country-university__list">
                    <h3>Singapore</h3>
                    <ul class="list-unstyled">
                        <li><p><span class="fa fa-arrow-right"></span>National University of Singapore</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Nanyang Technological University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Singapore Management University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Singapore University of Technology</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>SIM University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>INSEAD- Singapore</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Countries Details End-->
@Html.Partial("_countriesPartial", new ViewDataDictionary(this.ViewData) { { "currentPage", "courntry" } })
