
@{
    ViewBag.Title = "UK";
}

<!-- Start main-content -->
<section class="page-title" style="background-image: url(../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">United Kingdom</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Country", "Index", "Country", new { area = "" }, new { @class = "" })</li>
                <li>UK</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!--Countries Details Start-->
<section class="country-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="country-details__img"> <img src="~/media/images/resource/country-details.jpg" alt=""> </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="country-content">
                    <h3>United Kingdom</h3>
                    <p>The United Kingdom of Great Britain and Northern Ireland, commonly known as the United Kingdom (UK) or Britain,is a country in Western Europe, off the north-western coast of the continental mainland. It comprises England, Scotland, Wales and Northern Ireland. The United Kingdom includes the island of Great Britain, the north-eastern part of the island of Ireland, and many smaller islands within the British Isles. Northern Ireland shares a land border with the Republic of Ireland; otherwise, the United Kingdom is surrounded by the Atlantic Ocean, the North Sea, the English Channel, the Celtic Sea and the Irish Sea. The total area of the United Kingdom is 242,495 square kilometers (93,628 sq mi), with an estimated 2023 population of over 68 million people</p>
                    <ul class="country-details-list">
                        <li>
                            <span>Country</span>
                            <span>United Kingdom</span>
                        </li>
                        <li>
                            <span>Official Language</span>
                            <span>English</span>
                        </li>
                        <li>
                            <span>Capital</span>
                            <span>London</span>
                        </li>
                        <li>
                            <span>Area (km2)</span>
                            <span>242,495 km2</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4 col-md-12">
                <div class="country-university__list">
                    <h3>Edinburg</h3>
                    <ul class="list-unstyled">
                        <li><p><span class="fa fa-arrow-right"></span>Heriot Watt University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of Edinburgh</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Napier University-Edinburgh</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Queen Margaret University</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="country-university__list">
                    <h3>Coventry</h3>
                    <ul>
                        <li><p><span class="fa fa-arrow-right"></span>University of Warwick</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Coventry University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Arden University</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="country-university__list">
                    <h3>London</h3>
                    <ul>
                        <li><p><span class="fa fa-arrow-right"></span>University College London</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>King's Colege London</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Queen Mary University of London</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Imperical College London</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of London</p></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4 col-md-12">
                <div class="country-university__list">
                    <h3>Glasgow</h3>
                    <ul class="list-unstyled">
                        <li><p><span class="fa fa-arrow-right"></span>University of Glasgow</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of Strath Clyde</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Glasgow Caledonian University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Glasgow School of Arts</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="country-university__list">
                    <h3>Manchester</h3>
                    <ul>
                        <li><p><span class="fa fa-arrow-right"></span>University of Manchester</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Manchester MetroPolitan University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of Salford</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="country-university__list">
                    <h3>Bristol</h3>
                    <ul>
                        <li><p><span class="fa fa-arrow-right"></span>University of Bristol</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of The West of England</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>King College,King University</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Countries Details End-->
@Html.Partial("_countriesPartial", new ViewDataDictionary(this.ViewData) { { "currentPage", "courntry" } })
