
@{
    ViewBag.Title = "USA";
}

<!-- Start main-content -->
<section class="page-title" style="background-image: url(../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">United States of America</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Country", "Index", "Country", new { area = "" }, new { @class = "" })</li>
                <li>USA</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!--Countries Details Start-->
<section class="country-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="country-details__img"> <img src="~/media/images/resource/country-details.jpg" alt=""> </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="country-content">
                    <h3>United States of America</h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are gossage of Lorem Ipsum, you nee there</p>
                    <ul class="country-details-list">
                        <li>
                            <span>Country</span>
                            <span>United States of America</span>
                        </li>
                        <li>
                            <span>Languages Spoken</span>
                            <span>English</span>
                        </li>
                        <li>
                            <span>Visa Requirements</span>
                            <span>Personal Documents Required</span>
                        </li>
                        <li>
                            <span>Area (km2)</span>
                            <span>84.000 km2</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6 col-md-12">
                <div class="country-university__list">
                    <h3>Florida</h3>
                    <ul class="list-unstyled">
                        <li><p><span class="fa fa-arrow-right"></span>Florida State University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of Florida</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of Central Florida</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of South Florida</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="country-university__list">
                    <h3>New York</h3>
                    <ul>
                        <li><p><span class="fa fa-arrow-right"></span>Columbia University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>New York University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Cornell University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Binghamton University</p></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6 col-md-12">
                <div class="country-university__list">
                    <h3>California</h3>
                    <ul>
                        <li><p><span class="fa fa-arrow-right"></span>University of California(Berkeley)</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of South California</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of California(L.Aa)</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Stanford University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of California Santa Diego</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="country-university__list">
                    <h3>Texas</h3>
                    <ul class="list-unstyled">
                        <li><p><span class="fa fa-arrow-right"></span>University of Texas at Austin</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of Huston</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Texas A & m University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Rise University</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Countries Details End-->
@Html.Partial("_countriesPartial", new ViewDataDictionary(this.ViewData) { { "currentPage", "courntry" } })
