
@{
    ViewBag.Title = "USA";
}

<!-- Start main-content -->
<section class="page-title" style="background-image: url(../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">United States of America</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Country", "Index", "Country", new { area = "" }, new { @class = "" })</li>
                <li>USA</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!--Countries Details Start-->
<section class="country-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="country-details__img"> <img src="~/media/images/resource/country-details.jpg" alt=""> </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="country-content">
                    <h3>United States of America</h3>
                    <p>The United States of America (U.S.A. or USA), commonly known as the United States (U.S. or US) or America, is a country primarily located in North America. It consists of 50 states, a federal district, five major unincorporated territories, nine Minor Outlying Islands, and 326 Indian reservations. The United States is the world's third-largest country by both land and total area. It shares land borders with Canada to its north and with Mexico to its south and has maritime borders with the Bahamas, Cuba, Russia, and other nations.With a population of over 333 million,it is the most populous country in the Americas and the third most populous in the world. The national capital of the United States is Washington, D.C. and its most populous city and principal financial center is New York City.</p>
                    <ul class="country-details-list">
                        <li>
                            <span>Country</span>
                            <span>United States of America</span>
                        </li>
                        <li>
                            <span>Official Language</span>
                            <span>English</span>
                        </li>
                        <li>
                            <span>Capital</span>
                            <span>Washington.D.C</span>
                        </li>
                        <li>
                            <span>Area (km2)</span>
                            <span>9,833,520 km2</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6 col-md-12">
                <div class="country-university__list">
                    <h3>Florida</h3>
                    <ul class="list-unstyled">
                        <li><p><span class="fa fa-arrow-right"></span>Florida state University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of Florida </p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of Central Florida </p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of South Florida</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="country-university__list">
                    <h3>New York</h3>
                    <ul>
                        <li><p><span class="fa fa-arrow-right"></span>Columbia University </p></li>
                        <li><p><span class="fa fa-arrow-right"></span>New York University </p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Cornell University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Binghamton University</p></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6 col-md-12">
                <div class="country-university__list">
                    <h3>California</h3>
                    <ul>
                        <li><p><span class="fa fa-arrow-right"></span>University of California ( Berkeley)</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of South California</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of California ( L.A)</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Stanford University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>University of California Sant Diego</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="country-university__list">
                    <h3>Texas</h3>
                    <ul class="list-unstyled">
                        <li><p><span class="fa fa-arrow-right"></span>University of Texas at Austin</p></li>
                        <li><p><span class="fa fa-arrow-right"></span> University of Houston</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Texas A & M University</p></li>
                        <li><p><span class="fa fa-arrow-right"></span>Rice University</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Countries Details End-->
@Html.Partial("_countriesPartial", new ViewDataDictionary(this.ViewData) { { "currentPage", "courntry" } })
