<!-- Contact Section -->
<section class="contact-section">
    <div class="outer-box">
        <div class="bg bg-pattern-6"></div>
        <div class="auto-container">
            <div class="row">
                <!-- Title Column -->
                <div class="title-column col-lg-7 col-md-12 wow fadeInLRight">
                    <div class="inner-column">
                        <div class="sec-title">
                            <span class="sub-title">contact with us</span>
                            <h2>Book your free<span class="color3">consultation</span></h2>
                            <div class="text">Flamingo Aim to connect student’s with the right course in the right institute and the right country.</div>
                        </div>

                        <ul class="list-style-two">
                            <li><i class="fa fa-check-circle"></i> Making this the first true generator on the Internet</li>
                            <li><i class="fa fa-check-circle"></i> Lorem Ipsum is not simply random text</li>
                            <li><i class="fa fa-check-circle"></i> If you are going to use a passage</li>
                        </ul>

                        <div class="ceo-info">
                            <figure class="thumb"><img src="~/media/images/resource/ceo-thumb.jpg" alt=""></figure>
                            <h6 class="name">Aleesha Brown</h6>
                            <div class="designation">CEO & CO Founder</div>
                        </div>
                    </div>
                </div>

                <!-- Form Column -->
                <div class="form-column col-lg-5 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="form-outer">

                            <!-- Contact Form -->
                            <div class="contact-form wow fadeInLeft">
                                <!--Contact Form-->
                                <form method="post" action="get" id="contact-form">
                                    <div class="form-group">
                                        <input type="text" name="full_name" placeholder="Your Name" required>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" name="Email" placeholder="Email Address" required>
                                    </div>

                                    <div class="form-group">
                                        <textarea name="message" placeholder="Write a Message" required></textarea>
                                    </div>

                                    <div class="form-group">
                                        <button class="theme-btn btn-style-three" type="submit" name="submit-form"><span class="btn-title">Send a Message</span></button>
                                    </div>
                                </form>
                            </div>
                            <!--End Contact Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->
