<!-- Countries Section -->
<section class="countries-section pt-0">
    <div class="auto-container">
        <div class="sec-title text-center">
            <span class="sub-title">countries you can visit</span>
            <h2>Countries we’re supporting <br>for the <span class="color3">immigration</span></h2>
        </div>

        <div class="carousel-outer">
            <!-- Countries Carousel -->
            <div class="countries-carousel owl-carousel owl-theme">
                <!-- Country Block-->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/media/images/resource/flag-1.png" alt=""></div>
                        <a href="page-country-details.html" class="theme-btn">Australia</a>
                    </div>
                </div>

                <!-- Country Block-->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/media/images/resource/flag-2.png" alt=""></div>
                        <a href="page-country-details.html" class="theme-btn">Germany</a>
                    </div>
                </div>

                <!-- Country Block-->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/media/images/resource/flag-3.png" alt=""></div>
                        <a href="page-country-details.html" class="theme-btn">Brazil</a>
                    </div>
                </div>

                <!-- Country Block-->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/media/images/resource/flag-4.png" alt=""></div>
                        <a href="page-country-details.html" class="theme-btn">Russia</a>
                    </div>
                </div>

                <!-- Country Block-->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/media/images/resource/flag-5.png" alt=""></div>
                        <a href="page-country-details.html" class="theme-btn">England</a>
                    </div>
                </div>

                <!-- Country Block-->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/media/images/resource/flag-6.png" alt=""></div>
                        <a href="page-country-details.html" class="theme-btn">India</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Countries Section Two -->