<!-- Gallery Section -->
<section class="gallery-section pt-0">
    <div class="large-container">
        <div class="carousel-outer">
            <div class="title-box">
                <div class="inner">
                    <span class="sub-title">our testimonials</span>
                    <h2 class="title">Checkout <br>our photo<br> gallery</h2>
                </div>
            </div>

            <!--clients carousel-->
            <ul class="gallery-carousel owl-carousel owl-theme wow fadeInUp">
                <li class="gallery-item"> <a href="~/media/images/resource/gallery-1.jpg" class="lightbox-image"><img src="~/media/images/resource/gallery-1.jpg" alt=""></a> </li>
                <li class="gallery-item"> <a href="~/media/images/resource/gallery-2.jpg" class="lightbox-image"><img src="~/media/images/resource/gallery-2.jpg" alt=""></a> </li>
                <li class="gallery-item"> <a href="~/media/images/resource/gallery-3.jpg" class="lightbox-image"><img src="~/media/images/resource/gallery-3.jpg" alt=""></a> </li>
                <li class="gallery-item"> <a href="~/media/images/resource/gallery-4.jpg" class="lightbox-image"><img src="~/media/images/resource/gallery-4.jpg" alt=""></a> </li>
            </ul>
        </div>
    </div>
</section>
<!--End Gallery Section -->