	<!-- Services Section -->
<section class="services-section">
    <div class="auto-container">

        <div class="row">
            <div class="col-lg-6">
                <div class="sec-title">
                    <span class="sub-title">What do we offer</span>
                    <h2>Outstanding immigration visa <span class="color3">services.</span></h2>
                    <div class="text">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem is simply free text quis bibendum.</div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="page-service-details.html"><img src="~/media/images/resource/service-1.jpg" alt=""></a></figure>
                        <i class="icon fa fa-graduation-cap"></i>
                        <h6 class="title">Student Visa</h6>
                    </div>
                    <div class="content-box">
                        <h6 class="title"><a href="page-service-details.html">Student Visa</a></h6>
                        <div class="text">We have to a tendency to believe the idea that smart looking of any website.</div>
                        <a href="page-service-details.html" class="read-more">More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="200ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="page-service-details.html"><img src="~/media/images/resource/service-2.jpg" alt=""></a></figure>
                        <i class="icon fa fa-briefcase"></i>
                        <h6 class="title">Business Visa</h6>
                    </div>
                    <div class="content-box">
                        <h6 class="title"><a href="page-service-details.html">Business Visa</a></h6>
                        <div class="text">We have to a tendency to believe the idea that smart looking of any website.</div>
                        <a href="page-service-details.html" class="read-more">More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="page-service-details.html"><img src="~/media/images/resource/service-3.jpg" alt=""></a></figure>
                        <i class="icon fa fa-family"></i>
                        <h6 class="title">Family Visa</h6>
                    </div>
                    <div class="content-box">
                        <h6 class="title"><a href="page-service-details.html">Family Visa</a></h6>
                        <div class="text">We have to a tendency to believe the idea that smart looking of any website.</div>
                        <a href="page-service-details.html" class="read-more">More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="200ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="page-service-details.html"><img src="~/media/images/resource/service-4.jpg" alt=""></a></figure>
                        <i class="icon fa fa-camera"></i>
                        <h6 class="title">Tourist Visa</h6>
                    </div>
                    <div class="content-box">
                        <h6 class="title"><a href="page-service-details.html">Tourist Visa</a></h6>
                        <div class="text">We have to a tendency to believe the idea that smart looking of any website.</div>
                        <a href="page-service-details.html" class="read-more">More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="page-service-details.html"><img src="~/media/images/resource/service-5.jpg" alt=""></a></figure>
                        <i class="icon fa fa-home"></i>
                        <h6 class="title">Residence Visa</h6>
                    </div>
                    <div class="content-box">
                        <h6 class="title"><a href="page-service-details.html">Residence Visa</a></h6>
                        <div class="text">We have to a tendency to believe the idea that smart looking of any website.</div>
                        <a href="page-service-details.html" class="read-more">More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- CTA Block -->
            <div class="cta-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
                <div class="inner-box">
                    <h4 class="title"><a href="page-service.html">Get visa with 100% success rate</a></h4>
                    <a href="page-service.html" class="theme-btn btn-style-three small">Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Section-->
