<!-- Training Section -->
<section class="training-section">
    <div class="bg bg-pattern-2"></div>
    <div class="bg bg-image" style="background-image: url(./~/media/images/resource/image-1.jpg)"></div>
    <div class="auto-container">
        <div class="sec-title">
            <span class="sub-title">Training & Certification</span>
            <h2>Get the Immigration <br> Trainings you <span class="color3">Deserve</span></h2>
            <a href="#" class="theme-btn btn-style-two">Discover More</a>
        </div>

        <div class="carousel-outer">
            <div class="training-carousel owl-carousel owl-theme">
                <!-- Training Block -->
                <div class="training-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/media/images/resource/training-1.jpg" alt=""></figure>
                            <div class="overlay"><a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a></div>
                        </div>
                        <div class="lower-content">
                            <a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a>
                            <h5 class="title"><a href="page-course-details.html">Citizenship Test</a></h5>
                            <div class="text">There are many variations of passages of available, but the majority have suffered freedom alteration.</div>
                        </div>
                    </div>
                </div>

                <!-- Training Block -->
                <div class="training-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/media/images/resource/training-2.jpg" alt=""></figure>
                            <div class="overlay"><a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a></div>
                        </div>
                        <div class="lower-content">
                            <a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a>
                            <h5 class="title"><a href="page-course-details.html">Take IELTS</a></h5>
                            <div class="text">There are many variations of passages of available, but the majority have suffered freedom alteration.</div>
                        </div>
                    </div>
                </div>

                <!-- Training Block -->
                <div class="training-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/media/images/resource/training-3.jpg" alt=""></figure>
                            <div class="overlay"><a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a></div>
                        </div>
                        <div class="lower-content">
                            <a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a>
                            <h5 class="title"><a href="page-course-details.html">PTE Coaching</a></h5>
                            <div class="text">There are many variations of passages of available, but the majority have suffered freedom alteration.</div>
                        </div>
                    </div>
                </div>

                <!-- Training Block -->
                <div class="training-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/media/images/resource/training-1.jpg" alt=""></figure>
                            <div class="overlay"><a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a></div>
                        </div>
                        <div class="lower-content">
                            <a href="page-course-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i></a>
                            <h5 class="title"><a href="page-course-details.html">Citizenship Test</a></h5>
                            <div class="text">There are many variations of passages of available, but the majority have suffered freedom alteration.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Training Section -->