

@{
    ViewBag.Title = "Index";
}

<section class="page-title" style="background-image: url(../../media/images/resource/training-1.jpg );">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Frequently Asked Question</h1>
            <ul class="page-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="@Url.Action("Index", "About", new { area = "" })">About</a></li>
                <li>FAQ</li>
            </ul>
        </div>
    </div>

</section>

<div class="auto-container">
    <div class=" mt-25">
        <h3>Frequently Asked Questions</h3>
        @*<p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>*@
    <ul class="accordion-box wow fadeInRight">
        <!--Block-->
        <li class="accordion block active-block">
            <div class="acc-btn active">
                Why to join us?
                <div class="icon fa fa-plus"></div>
            </div>
            <div class="acc-content current">
                <div class="content">
                    <div class="text">
                        Besides providing structured preparation practice material, feedback on
                        Strength and weaknesses, we also help with tips and tricks on how to
                        Clear IELTS & PTE. Additionally student also generate motivation & a
                        Competitive edge excel in their attempt.
                    </div>
                </div>
            </div>
        </li>
        <!--Block-->
        <li class="accordion block">
            <div class="acc-btn">
                Can flamingo help with overseas education counselling?
                <div class="icon fa fa-plus"></div>
            </div>
            <div class="acc-content">
                <div class="content">
                    <div class="text">
                        Yes, we provide services such as helping students choose the right
                        Course and institution based on their academic background career goals
                        and  personal preferences. Also , guiding students through the application
                        process, we all assist with visa application, travel among and pre-departure
                        departure orientation.

                    </div>
                </div>
            </div>
        </li>
        <!--Block-->

        <li class="accordion block ">
            <div class="acc-btn ">
                Which mode of class is best?
                <div class="icon fa fa-plus"></div>
            </div>
            <div class="acc-content ">
                <div class="content">
                    <div class="text">
                        Although online classes have the benefit of ease of working home & is
                        more flexible, however the opposite side has major merits. It is much
                        more interactive & getting to know different perspectives from various
                        Students open one’s outlook & approach, to name a few.

                    </div>
                </div>
            </div>
        </li>
        <!--Block-->

        <li class="accordion block ">
            <div class="acc-btn ">
                Why Choose flamingo abroad consultancy for your training?
                <div class="icon fa fa-plus"></div>
            </div>
            <div class="acc-content ">
                <div class="content">
                    <div class="text">
                        We truly believe in unique talent, our aim  is to help overseas aspirants
                        with unique and end to end comprehensive personalized services.


                    </div>
                </div>
            </div>
        </li>
        <!--Block-->

        <li class="accordion block ">
            <div class="acc-btn ">
                What ongoing support does flamingo give?
                <div class="icon fa fa-plus"></div>
            </div>
            <div class="acc-content ">
                <div class="content">
                    <div class="text">
                        Our services extend beyond study advice and applications. We prepare
                        you for a new life ahead and how to deal with homesickness besides
                        managing money, developing soft skills and adapting to new culture. We
                        help you with all the necessary steps.

                    </div>
                </div>
            </div>
        </li>
        <!--Block-->

        <li class="accordion block ">
            <div class="acc-btn ">
                Why study abroad is better than india?
                <div class="icon fa fa-plus"></div>
            </div>
            <div class="acc-content ">
                <div class="content">
                    <div class="text">
                        Studying in an Indian college leads to a lower average salary than earned
                        by  our western counterparts. Additionally, most senior positions tend to be
                        scooped up by individuals who have an international outlook through
                        global exposure. Finally, studying abroad is an incredible learning
                        experience helping students get a better academics as well as soft skills
                        development.

                    </div>
                </div>
            </div>
        </li>
        <!--Block-->

        <li class="accordion block ">
            <div class="acc-btn ">
                How to get a scholarship to study abroad?
                <div class="icon fa fa-plus"></div>
            </div>
            <div class="acc-content ">
                <div class="content">
                    <div class="text">
                        Indian Government provides many scholarship for students who wish to
                        study abroad. Along with that almost all universities in abroad provide
                        scholarship for the students who excel in their academics. Some countries
                        Provide free education as well.

                    </div>
                </div>
            </div>
        </li>
        <!--Block-->

        <li class="accordion block ">
            <div class="acc-btn ">
                 What are the major benefits of studying abroad?
                <div class="icon fa fa-plus"></div>
            </div>
            <div class="acc-content ">
                <div class="content">
                    <div class="text">
                        When you study abroad, you can experience new places and cultures,
                        Make friends from around the world, and gain a global perspective - while
                        earning  credits towards your degree. It will allow you to develop highly
                        valued skills such as intercultural communication, foreign languages,
                        adaptability and problems soaking.

                    </div>
                </div>
            </div>
        </li>
        <!--Block-->

        <li class="accordion block ">
            <div class="acc-btn ">
                Can I work and study at the same time?
                <div class="icon fa fa-plus"></div>
            </div>
            <div class="acc-content ">
                <div class="content">
                    <div class="text">
                        Working while you study can complement your educational and living
                        experience when studying abroad. Many universities have a dedicated job
                        centre on campus for students that advertises job opportunities and
                        Internship to help students develop various skills.


                    </div>
                </div>
            </div>
        </li>
    </ul>
    </div>
</div>